[build-system]
requires = [
    "setuptools>=45",
    "wheel",
    "setuptools_scm[toml]>=6.0"
]
build-backend = 'setuptools.build_meta'

[tool.setuptools_scm]
#write_to = 'matryoshka_tester/version.py'

[tool.pytest.ini_options]
markers = [
    "serial: heavy tests that can overload the worker and are not run in parallel",
]

[tool.black]
line-length = 79
