[build-system]
requires = [
    "setuptools>=45",
    "wheel",
    "setuptools_scm[toml]>=6.0"
]
build-backend = 'setuptools.build_meta'

[tool.setuptools_scm]

[tool.pytest.ini_options]
xfail_strict = true
addopts = "--strict-markers"
markers = [
    'bci/bci-base_15.3',
    'bci/bci-base_15.4',
    'bci/bci-base_15.5',
    'bci/bci-minimal_15.3',
    'bci/bci-minimal_15.4',
    'bci/bci-minimal_15.5',
    'bci/bci-micro_15.3',
    'bci/bci-micro_15.4',
    'bci/bci-micro_15.5',
    'bci/bci-busybox_15.3',
    'bci/bci-busybox_15.4',
    'bci/bci-busybox_15.5',
    'bci/bci-init_15.3',
    'bci/bci-init_15.4',
    'bci/bci-init_15.5',
    'bci/golang_1.18',
    'bci/golang_1.19',
    'bci/python_3.6',
    'bci/python_3.10',
    'bci/openjdk_11',
    'bci/openjdk_17',
    'bci/openjdk-devel_11',
    'bci/openjdk-devel_17',
    'bci/nodejs_14',
    'bci/nodejs_16',
    'bci/nodejs_18',
    'bci/ruby_2.5',
    'bci/dotnet-sdk_3.1',
    'bci/dotnet-sdk_5.0',
    'bci/dotnet-sdk_6.0',
    'bci/dotnet-sdk_7.0',
    'bci/dotnet-runtime_3.1',
    'bci/dotnet-runtime_5.0',
    'bci/dotnet-runtime_6.0',
    'bci/dotnet-runtime_7.0',
    'bci/dotnet-aspnet_3.1',
    'bci/dotnet-aspnet_5.0',
    'bci/dotnet-aspnet_6.0',
    'bci/dotnet-aspnet_7.0',
    'suse/389-ds_2.0',
    'suse/pcp_5.2.2',
    'bci/rust_1.65',
    'bci/rust_1.66',
    'bci/rust_1.67',
    'suse/registry_2.8'
]

[tool.black]
line-length = 79
